<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	
	<!-- 공지시항 글 작성 -->
	<insert id="insert">

	</insert>
	
	<!-- 공지사항 보기 -->
	<select id="list" resultType="com.mayfarm.noticeboard.vo.NoticeVO">
		SELECT	Nno as no,
				title as title,
				writer as writer,
				regDt as regDt,
				modDt as modDt,
				hit as hit
		FROM mynotice
		ORDER BY Nno DESC
	
	</select>
	
	<!-- 게시물 총 갯수 -->
	<select id = "totalCnt" resultType="int">
		SELECT COUNT(Nno)
		FROM mynotice
		WHERE Nno > 0;
	</select>
	
</mapper>